/* navbar */
nav {
    display: flex;
    position: sticky;
    background-color: lightblue;
    border: 1px solid black;
    justify-content: right;
    top: 0;
}

ul {
    margin-right: 10px;
    height: 100%;
}

li {
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
    list-style-type: none;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

li:hover {
    background-color: slategray;
}

li a {
    color: black;
    text-decoration: none;
}

/* headers */
header {
    text-align: center;
    font-size: 75px;
    color: white;
    background-color: green;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

.motto {
    color: darkorange;
    font-weight: bold;
    margin: 10px;
    font-size: 30px;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    padding: 10px 10px;
    background-color: green;
    margin: 10px 100px;
    border-radius: 10px;
}

/* section in webpage */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: honeydew;
    border-radius: 10px;
    padding: 10px;
    margin: 30px 20px 5px;
}

.featured_resource {
    text-align: center;
    font-size: 20px;
    padding: 20px 0px;
    margin: 5px 350px;
    background-color: lightblue;
    border-radius: 10px;
}

.section_desc {
    text-align: center;
    font-size: 20px;
    font-style: italic;
}